.home_nav{
    width: 94%;
    margin: 0.2rem auto;
    ul{
        font-size: 0;
        li{
            width: 20%;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            img{
                width: 0.6rem;
                height: 0.5rem;
            }
            p{
                font-size: 0.26rem;
                text-align: center;
                color: #333;
                margin-top: 0.15rem;
            }
        }
    }
}

